@model QuanLyNhanKhau.Models.HoKhau

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HoKhau</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoNha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoNha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phuong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quan)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SoHoKhau" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
