@model QuanLyNhanKhau.Models.HoKhau

@*@{
    ViewData["Title"] = "Thêm mới hộ khẩu";
    ViewData["Desc"] = "Thêm sổ hộ khẩu mới";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}*@

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create_HoKhau">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SoHoKhau" class="control-label"></label>
                <input asp-for="SoHoKhau" class="form-control" />
                <span asp-validation-for="SoHoKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoNha" class="control-label"></label>
                <input asp-for="SoNha" class="form-control" />
                <span asp-validation-for="SoNha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duong" class="control-label"></label>
                <select asp-for="Duong" class="form-control">
                    <option value="none">Chọn đường</option>
                    @foreach (var option in QuanLyNhanKhau.Models.Key.ListDuong)
                    {
                            <option value="@option">@option</option>
                    }
                </select>
                <span asp-validation-for="Duong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phuong" class="control-label"></label>
                <select asp-for="Phuong" class="form-control">
                    <option value="none">Chọn phường</option>
                    @foreach (var option in QuanLyNhanKhau.Models.Key.ListPhuong)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
                <span asp-validation-for="Phuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quan" class="control-label"></label>
                <select asp-for="Quan" class="form-control">
                    <option value="none">Chọn quận</option>
                    @foreach (var option in QuanLyNhanKhau.Models.Key.ListQuan)
                    {
                            <option value="@option">@option</option>
                    }
                </select>
                <span asp-validation-for="Quan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

