@model QuanLyNhanKhau.Models.HoKhau
@inject IHttpContextAccessor _accessor
@inject QuanLyNhanKhauConText _context

@{
    ViewData["Title"] = "Chi tiết hộ khẩu";
    ViewData["Desc"] = "Xem chi tiết hộ và thay đổi thông tin nhân khẩu";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

@{
    Model.nhanKhaus = _context.nhanKhaus.Where(p => p.soHoKhau == Model.SoHoKhau)
                .ToList();
    bool check = true;
    NhanKhau chuHo = null;
    ViewBag.SoHoKhau = Model.SoHoKhau;
    if (Model.nhanKhaus.Count() == 0)
    {
        check = false;
    } else
    {
        chuHo = Model.nhanKhaus.Where(p => p.QuanHe == "Chủ hộ").FirstOrDefault();
    }

    bool isLogin = false; string name = ""; int id = 0; int role = 0; string sohokhau = "";
    if (_accessor.HttpContext.Session.GetInt32("id") != null)
        isLogin = true;
    if (isLogin)
    {
        name = _accessor.HttpContext.Session.GetString("name");
        id = (int)_accessor.HttpContext.Session.GetInt32("id");
        role = (int)_accessor.HttpContext.Session.GetInt32("role");
        if (role == 0)
            sohokhau = _context.nhanKhaus.Where(p => p.IdNhanKhau == id).First().soHoKhau;
    }
}

<div class="col-md-4">
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>Thông tin hộ</strong>
                <a style="float:right;padding-left:1em"><i data-toggle="modal" data-target="#HistoryModal" class="fa fa-history fa-2x" style="color:#625b96" aria-hidden="true"></i></a>
                @if (role == (int) Role.Dan)
                {
                } else
                {
                    <a style="float:right;padding-left: 1em;"><i data-toggle="modal" data-target="#TachHoModal" class="fa fa-sitemap fa-2x" style="color:#7e1353" aria-hidden="true"></i></a>
                }
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr class="info">
                                <td><strong>Chủ hộ:</strong></td>
                                @if (chuHo != null)
                                {
                                    <td>@chuHo.HoTen
                                        <a data-toggle="modal" data-target="#EditMasterModel" style="float:right;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    </td>
                                }
                                else
                                {
                                    <td>Chưa có thông tin
                                        <a data-toggle="modal" data-target="#EditMasterModel" style="float:right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    </td>
                                }
                                
                            </tr>
                            <tr class="info">
                                <td><strong>Số hộ khẩu:</strong></td>
                                <td>@Model.SoHoKhau</td>
                            </tr>
                            <tr class="info">
                                <td><strong>Số nhà:</strong></td>
                                <td>@Model.SoNha</td>
                            </tr>
                            <tr class="info">
                                <td><strong>Đường:</strong></td>
                                <td>@Model.Duong</td>
                            </tr>
                            <tr class="info">
                                <td><strong>Phường:</strong></td>
                                <td>@Model.Phuong</td>
                            </tr>
                            <tr class="info">
                                <td><strong>Quận:</strong></td>
                                <td>@Model.Quan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("History_HoKhau.cshtml", Model)
    @Html.Partial("TachHo_HoKhau.cshtml", Model)

    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>Đăng kí sử dụng nhà văn hóa</strong>
            </div>
            <div class="panel-body">
                <form class="form-group">
                    <div class="col-md-6">
                        <button class="btn btn-success form-control" type="submit" asp-controller="NhaVanHoa" asp-action="DangKiNhaVH" asp-route-id="1"><strong>Tầng 1</strong></button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success form-control" type="submit" asp-controller="NhaVanHoa" asp-action="DangKiNhaVH" asp-route-id="2"><strong>Tầng 2</strong></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>Thành viên hộ</strong>
                <a style="float:right"><i data-toggle="modal" data-target="#Create_NhanKhau" class="fa fa-plus fa-2x" style="color:green" aria-hidden="true"></i></a>
                @Html.Partial("Create_NhanKhau.cshtml", new QuanLyNhanKhau.Models.NhanKhau())
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="info">
                                <th>Họ tên</th>
                                <th>CMND</th>
                                <th>Tình trạng</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.nhanKhaus.Count() != 0)
                                {
                                    foreach (var member in Model.nhanKhaus.OrderBy(p => p.NguyenNhan))
                                    {
                                        <tr class="info" bgcolor = "@member.GetColor()">
                                            <td>@member.HoTen</td>
                                            <td>@member.CMND</td>
                                            <td>@member.GetStatus()</td>
                                            @if (role == (int)Role.Dan)
                                            {
                                                
                                            } else
                                            {
                                                <td>
                                                    <a data-toggle="modal" data-target="#EditNK_@member.IdNhanKhau"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    <a data-toggle="modal" data-target="#Leave_@member.IdNhanKhau"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
                                                    <a data-toggle="modal" data-target="#Details_@member.IdNhanKhau"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    <a data-toggle="modal" data-target="#DeleteNK_@member.IdNhanKhau"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                    @Html.Partial("Details_NhanKhau.cshtml", @member)
                                                    @Html.Partial("Edit_NhanKhau.cshtml", @member)
                                                    @Html.Partial("Leave_NhanKhau.cshtml", @member)
                                                    @Html.Partial("Delete_NhanKhau.cshtml", @member)
                                                </td>
                                            }
                                        </tr>
                                    }
                                } else
                                {
                                    <tr class="info">
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>
                                            <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <a><i class="fa fa-minus-square" aria-hidden="true"></i></a>
                                            <a><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (role == (int)Role.Dan)
{
    
} else
{
    @Html.Partial("MasterChange_HoKhau.cshtml", Model)
}
