@model IEnumerable<QuanLyNhanKhau.Models.HistoryItem>
@inject QuanLyNhanKhauConText _context

@{
    ViewData["Title"] = "Lịch sử thay đổi";
    ViewData["Desc"] = "Xem chi tiết thời gian thay đổi";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
    var lstNhanKhau = _context.nhanKhaus.ToList();
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoHoKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoatDong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiTuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThayDoi)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @stt
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoHoKhau)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.HoatDong)
                    </td>
                    <td>
                        @lstNhanKhau.Where(p => p.IdNhanKhau == item.DoiTuong).FirstOrDefault().HoTen
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayThayDoi)
                    </td>
                </tr>
                stt++;
            }
        }
    </tbody>
</table>


    <div class="modal fade" id="createFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"><strong>Thêm hộ khẩu mới</strong></h4>
                </div>
                <div class="modal-body m-2" style="background:aliceblue;">
                    @Html.Partial("Create_HoKhau.cshtml", new QuanLyNhanKhau.Models.HoKhau())
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="searchFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"><strong>Tìm kiếm</strong></h4>
                </div>
                <div class="modal-body m-2" style="background:aliceblue;">
                    <form method="get">
                        <input name="condition" type="text">
                        <button type="submit" action="Create">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

